<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>
<hr>
<hr>  
<ion-card> 
  <ion-list>
    <ion-item>
      <ion-label position="floating">Ingresa Monto</ion-label>
      <ion-input [(ngModel)]="cantMoneda" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de moneda</ion-label>
      <ion-select [(ngModel)]="tipoMoneda">
        <ion-select-option value="dolar" type="text">Dolar</ion-select-option>
        <ion-select-option value="euro" type="text">Euro</ion-select-option>
        <ion-select-option value="clp" type="text">Pesos Chilenos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Convertir a</ion-label>
      <ion-select [(ngModel)]="tipoMoneda2">
        <ion-select-option value="dolar" type="text">Dolar</ion-select-option>
        <ion-select-option value="euro" type="text">Euro</ion-select-option>
        <ion-select-option value="clp" type="text">Peso Chilenos</ion-select-option>
      </ion-select>
    </ion-item>

    



    <ion-button (click) = "dolareuro()"  (click)="mostrarDatosVacios()"  expand="full" color="tertiary">Calcular</ion-button>
    
    
  </ion-list>
     
</ion-card> 
<hr>
<hr> 
  <div *ngIf = "(valorPesos2 > 0)" >
    <ion-card> 
      <h3 id="resultado"> {{ valorPesos2 | currency: 'USD' | lowercase }}</h3>
    </ion-card>  
  </div>
 
</ion-content>
<app-footer></app-footer>
