
#mi-card-header{
    position: relative;
    text-align: center;
    --color: rgb(0, 0, 0);
    font-weight: bold;
}
#mi-card-title{
    --color: rgb(0, 0, 0);
    font-weight: bold;
    position: relative;
    text-align: center;
}
#mi-card-subtitle{
    --color: rgb(5, 5, 5);
    font-weight: bold;
    position: relative;
    text-align: center;
}
.ion-padding{
    position: relative;
    text-align: center;
    font-weight: bold;
}
#mi-card{
    position: relative;
    text-align: center;
    --color: rgb(5, 5, 5);
    font-weight: bold;
}
#mi-row{
    position: relative;
    text-align: center;
    --color: rgb(5, 5, 5);
    font-weight: bold;
}
ion-datetime {
    color: rgb(10, 10, 10);
    font-weight: bold;

}
ion-content {
    --ion-background-color: #b1c3ff;
}