.card-pokemon {
    width: 60%;
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px;
    background-color: #f2f2f2;
}

.avatar {
    background-color: burlywood;
    width: 95%;
    max-width: 128px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.img-pokemon {
    width: 128px;
}

.tipo {
    display: inline-block;
    border: 1px solid;
    padding: 5px 12px 5px 12px;
}
