<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2 class="titulo">¿Quien es ese Pokémon?</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item">
                    <ion-label position="floating">Pokémon</ion-label>
                    <ion-input [(ngModel)]="indexedPokemon" name="indexedPokemon"></ion-input>
                </ion-item>
                <ion-button (click)="mostrarPokemon()" fill="outline">Buscar</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="result">
            <div class="result" #result></div>
        </ion-row>
    </ion-grid>
</ion-content>

<app-footer></app-footer>
